.head-content-wrapper
  .head-content
    .container
      .row
        .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
          a(
            class='category'
            href='/work'
           )
            | Case Study
          h1.page-title= entry.title
.span.scrolltomain.hidden-xs.hidden-sm