- var page = helpers.getPageName(_path)
include ../mixins/_seo
include ../mixins/_nav
include ../mixins/_header

doctype html
include ../includes/_ie-conditional-comments
+seo(title, description, img, imgWidth, imgHeight, page)
include ../includes/_head

  body(id= page)
    +nav(page)
    block header
      +header('yellow')

      block content
  
    block footer
      .container
        include ../includes/_footer
    include ../includes/_social-icons.svg
    include ../includes/_facebook-pixel

