include ./mixins/_header
extends ./_layouts/_default

block header
  +header('yellow')

block content
  .content
    .container
      .row
        .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
          if contentful.privacy[0].block[0].fields.body
            != marked(contentful.privacy[0].block[0].fields.body)
          else
            | No page body!