mixin nav(cur)
  nav#navbar.navbar.navbar-default
    .container
      ul.nav.navbar-nav

        li(
          class={active: cur == 'work' ||
                         cur == 'case-study' ||
                         cur == 'video'}
          )
          a(href='/work', rel='prefetch') Work
        li(
          class={active: cur == 'blog' ||
                         cur == 'animation' ||
                         cur == 'culture' ||
                         cur == 'gear' ||
                         cur == 'method' ||
                         cur == 'news' ||
                         cur == 'road'}
          )
          a(href='/blog', rel='prefetch') Blog
        li(class={active: cur == 'about'})
          a(href='/about', rel='prefetch') About
        li(
          class={active: cur == 'contact' ||
                         cur == 'thanks'}
          )
          a(href='/contact', rel='prefetch') Contact